html{
	font-family: sans-serif;
	background: #E9E9E9;
}

body{
	margin: 10%;
	background-color: white;

}

p{
	margin-left: 5%;
	margin-right: 5%;
}

figurecaption{
	font-size: 0.7em;
	color: #666666;
}

blockquote{
	font-family: serif;
	background-color: #F9F9F9;
}

h1{
	margin: 1em;
	font-size: 1.2em;
	font-family: sans-serif;
	color: #A22544;
}

h2{
	font-size: 1.2em;
	color: #A22544;
	margin-left: 5%;
}

header{
}

img{
	width: 100%;

}